<html>
	<head>
		<title>AI-Fuelled-Chest-X-ray-to-Provide-Near-Perfect-COVID-19-Identification</title>
	</head>

	<body>
		<h1>AI-Fuelled-Chest-X-ray-to-Provide-Near-Perfect-COVID-19-Identification</h1>
		<h3>NOTES:</h3>
		<ul>
		<li>This web app deployment of an automatic COVID-19 detection is for educational purposes only. Therefore it cannot be used for any clinical purpose. It can be used for research purposes and for comparison with other similar models.</li>
		<li>The final code for this specific web app along with the trained model data can be found in the following repository: </h2><a href="https://github.com/tberris/deep-learning-pneumonia-detection-web-app">https://github.com/MathewKevin/AI-Fuelled-Chest-X-ray-to-Provide-Near-Perfect-COVID-19-Identification</a></li>
		<li>For any comments or suggestions please contact at: fmskevin@gmail.com</li>
		</ul>
		<input id="image-selector" type="file"> 
		<button id="predict-button">Predict</button>
		<p>PREDICTION: <span id="result">...</span></p>
		<p>PROBABILITY: <span id="probability">...</span></p>
		<img id="selected-image" width="400" src=""/>

	</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    let base64Image;
    $("#image-selector").change(function() {
        let reader = new FileReader();
        reader.onload = function(e) {
            let dataURL = reader.result;
            $('#selected-image').attr("src", dataURL);
            base64Image = dataURL.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
            console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);
        $("#result").text("");
        $("#probability").text("");

    });

    $("#predict-button").click(function(){
            let message = {
            image: base64Image
        }
        console.log(message);
        $.post("http://127.0.0.1:5000/predict", JSON.stringify(message), function(response){
            $("#result").text(response.prediction.result);
            $("#probability").text(response.prediction.accuracy.toFixed(2));
            console.log(response);
        });
    });
    
</script>

</html>
